<!-- html boiler plate -->
<!DOCTYPE html>
<html>
<head>
    <title>My First EJS</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <style>
        html {
            background-image: url("<%= imgUrl %>");
        }
    </style>
</head>
<body>
    <div>
        <h1><%= motivation %></h1>
        <h2> - <%= author %></h2>
    </div>
</body>
</html>
